.site-header {
	width: 100%;
	height: 15%;
	display: block;

	.site-logo {
		float: left;
		width: 15%;
		margin: 0;
		padding: 2.5% 15%;
		position: relative;
	}

	ul {
		&.site-links {
			top: 10%;
			right: 10%;
			position: absolute;
			padding: 0;
			list-style-type: none;
			li {		
				margin: 0;
				padding: .75rem;
				a {
					text-decoration: none;
					color: #777777;
					padding: .75rem;	
				}

				&.site-link {
					display: inline;
					color: black;
					font-size: 3rem;
				}
			}
		}
	}
}