.site-header {
	width: 100%;
	height: 15%;
	display: block;

	.site-logo {
		float: left;
		width: 15%;
		margin: 0;
		padding: 2.5% 15%;
		position: relative;
	}

	.site-links {
		float: right;
		left: 0;

		.site-link {
			color: black;
		}
	}

}